# Ignore everything
*

# Include directories
!examples/
!examples/**
!src/
!src/**

# Include files
!.gitignore
!.prettierrc.js
!jest.setup.ts
!nest-cli.json
!package.json
!readme.md
!tsconfig.build.json
!tsconfig.json
!yarn.lock
